<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода в Беларуси</title>
    <link rel="shortcut icon" href="static\icons\icon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <meta name="description" content="weather">
    <meta name="keywords" content="belarus, minsk, brest, vitebsk">
    <meta name="author" content="">
</head>
<body>

    <nav>
        <ul class="hr">
            <li><a href="/">Главная</a></li>
			<li><a href="/weather?city=minsk"><img src="HW3/resurses/images/weather.png" class="image" alt="Минск"></a></li>
			<li><a href="/weather?city=grodno"><img src="HW3/resurses/images/weather.png" class="image" alt="Гродно"></a></li>
			<li><a href="/weather?city=brest"><img src="HW3/resurses/images/weather.png" class="image" alt="Брест"></a></li>
			<li><a href="/weather?city=gomel"><img src="HW3/resurses/images/weather.png" class="image" alt="Гомель"></a></li>
			<li><a href="/weather?city=vitebsk"><img src="HW3/resurses/images/weather.png" class="image" alt="Витебск"></a></li>
			<li><a href="/weather?city=all"><img src="HW3/resurses/images/weather.png" class="image" alt="Беларусь"></a></li>
		</ul>
    </nav>
    {% if cities%}
        <h1>Все города</h1>
        <div class="bblock">
            Климат Белоруссии — умеренно континентальный, на западе — переходный от морского к континентальному, формирующийся под влиянием воздушных масс Атлантики. 
            В зимний период нередки оттепели[39]. Среднегодовые температуры воздуха постепенно повышаются с северо-востока на юго-запад от +5,5 до +8 °С.
            Самый холодный месяц — январь. В январе средняя температура воздуха понижается с юго-запада на северо-восток от –3 до –6 °С. 
            Нередко зимой температуры понижаются до –20 — –30 °С. Самая низкая температура за весь срок наблюдений в Белоруссии (–42,2 °С) была отмечена на метеостанции Славное (Толочин) 17 января 1940 года.
            Температуры самого тёплого месяца (июля) повышаются с севера на юг. Разница температур значительно меньше, чем зимой. 
            В северных районах температура воздуха в июле около +17,5 °С, в южных — около +19,5 °С. 
            Абсолютные максимальные температуры воздуха составляют +35 — +38 °С, а самая высокая температура в Белоруссии (+38,9 °С) была зафиксирована в Гомеле в 2010 году. 
            Осенью и зимой на всей территории Белоруссии относительная влажность воздуха превышает 80 %. Весной и летом из-за более высоких температур она понижается до 50–60 %, а в отдельные дни — даже до 30 %.
            Количество осадков зависит от рельефа. Поэтому центральная и северная части Белоруссии, где преобладают возвышенности, получают 650—700 мм осадков. Самое увлажнённое место страны — Новогрудская возвышенность. 
            Здесь выпадает более 750 мм осадков в год. На низменностях южных районов количество осадков понижается до 550—600 мм. Наблюдаются значительные колебания осадков по годам. 
            В засушливые годы выпадает всего около 300 мм, а в наиболее влажные — свыше 1100 мм. 
        </div>
        {% for city in cities %}
            <p  style="font-style: italic; font-size: x-large; color: rgb(90, 54, 54);">В городе <b>{{ city }}</b> температура воздуха составляет <b>{{ data[city]['temperatura'] }}</b> градусов</p></p>
         {% endfor %}
    {% else %}          
        <h1>{% if city == 'minsk' %} Город Минск
            {% elif city == 'brest' %} Город Брест
            {% elif city == 'gomel' %} Город Гомель
            {% elif city == 'grodno' %} Город Гродно
            {% elif city == 'gomel' %} Город Гомель 
            {% elif city == 'vitebsk' %} Город Витебск          
            {%endif%}</h1>
        <div class="bblock">
            <h3>Климат</h3>
            {% if city == 'minsk' %}    
                <p>Умеренно континентальный, со значительным влиянием атлантического морского воздуха. Среднегодовое количество осадков — около 700 мм.</p> 
                <p>Лето тёплое, но не жаркое. Среднесуточная температура в июле +19,1 °C.</p> 
                <p>Зима мягкая, с частыми оттепелями, среднесуточная температура в январе −4,2 °C. В последние годы наметилась чёткая тенденция к повышению температуры в зимний период.</p>
                <p>Среднегодовая температура — +7,2 °C</p>
                <p>Абсолютный максимум температуры (+35,8 °C) был зарегистрирован 8 августа 2015 года, абсолютный минимум (−39,1 °C) — 17 января 1940 года</p>
                <p>Среднегодовая скорость ветра — 2,4 м/с</p>
                <p>Среднегодовая влажность воздуха — 77 %</p>      
            {% elif city == 'brest' %}  
                <p>Климат в районе города — умеренно-континентальный.</p> 
                <p>Из-за влияния морских воздушных масс характерна мягкая зима и умеренно тёплое лето.</p> 
                <p>Циклоны, которые являются причиной этого, перемещаются с Атлантического океана с запада на восток.</p> 
                <p>Средняя температура января −2,6 °C, июля +19,3 °C.</p>
                <p>Годовое количество осадков 609 мм.</p> 
                <p>Среднегодовая температура воздуха в Бресте составляет +8,2 °C, среднегодовая скорость ветра — 2,6 м/с,
                среднегодовая влажность воздуха — 76 %. Вегетационный период длится 214 суток.</p>
                <p>В году в среднем 160 дней идёт дождь, 68 дней — снег. Туманы наблюдаются в течение 33 дней, грозы — 27 дней.</p> 
            {% elif city == 'vitebsk' %}  
                <p>Климат умеренно-континентальный — как и в других городах Белоруссии, но немного суровее, что обусловлено его расположением на севере страны.</p> 
                <p>Зимой циклоны приносят потепления, а летом — прохладу и дожди. 
                    Зима в целом пасмурная, лето умеренно-тёплое и влажное. 
                    Осенью погода обычно холодная, сырая и ветреная, а весной довольно переменчивая: в целом теплеет, но иногда возвращаются холода.</p> 
                <p>Средняя температура зимой составляет −8 °C, летом — +17… +20 °C.</p> 
            {% elif city == 'gomel' %}  
                <p>Климат Гомеля умеренно-континентальный. Характерно тёплое лето и мягкая зима, что обусловливается частым приносом тёплых морских воздушных масс с Атлантики господствующим западным переносом.</p>
                <p>Среднегодовая температура воздуха в Гомеле +8,0 °C. абсолютный минимум января −35,0 °C (31 января 1970), абсолютный максимум +9,7 °C (2 января 2023).
                 Месяц с самой высокой средней температурой — июль 2010 (+24,5 °С), месяц с самой низкой средней температурой — февраль 1929 (-17,1 °С). 
                 За зиму отмечается до 40 оттепельных дней, когда в дневные часы температуры воздуха поднимается выше 0 °C, и в среднем 15-16 дней со среднесуточной температурой −10 °C и ниже. 
                 Средняя температура июля +20,4 °C. Абсолютный максимум +38,9 °C (8 августа 2010), абсолютный минимум +6,0 °C (18 июля 1978).
                За лето отмечается свыше 30 жарких дней со среднесуточной температурой выше +20 °C. Вегетационный период продолжается в среднем 205 дней с 3 апреля по 26 октября (когда температура воздуха свыше +5 °C).</p>                
            {% elif city == 'grodno' %}  
            <p>Климат Гродно — умеренно-континентальный с преобладающим влиянием воздушных масс, которые приносит система циклонов-антициклонов с Атлантического океана.</p> 
            <p>Также на климат Гродно действуют внутриконтинентальные воздушные массы. 
            Обычно мягкая зима начинается в конце ноября и продолжается около трёх с половиной месяцев со средней температурой −2,9 °C (самый холодный месяц — январь). 
            Лето тёплое, влажное, средняя температура +17,1 °C (самый тёплый месяц — июль). Зимой температура ночью в Гродно −5,3 °C, а летом +11,8 °C.</p>
            <p>Максимальная температура в Гродно: +36,2 °C, отмечена 29 августа 1992 года. Минимальная: −36,3 °C — 1 февраля 1970 года.</p> 
            
            {% endif %}    
        </div>
        <div class="bblock">
            <div class="bblock" style="background: url('static/images/{{ city }}.jpg'); 
                    background-repeat:no-repeat;
                    height:800px;
                    width: 800px;
                    display: flex;
                    ">
                <div class="ablock">
                     <img src="static/images/sunny_weather.png" alt="">
                </div>  
                 <div class="ablock">
                    <th>Текущая погода</th>
                    <td>
                      <tr>Температура</tr>
                      <tr><b>{{ temperatura }} oC</b><tr>
                    </td>
                    <td>
                        <tr>Влажность</tr>
                        <tr><b>{{ humidity }} %</b><tr>
                      </td>
                      <td>
                        <tr>Скорость ветра</tr>
                        <tr><b>{{ wind_speed }} м/с</b><tr>
                      </td>  
                 </div>  
            </div>       
        </div>
    {% endif %}

</body>    
</html>