            #add_quiz:target , #edit_quiz:target {
            display:block;
        }

        #add_question:target , #edit_question:target {
            display:block;
        }

        .close
        {
            position: absolute;
            right: 4px;
            top:0;
            font-size: smaller;    
        }

        .modal {
            display:none;
            background-color: antiquewhite;
            position: fixed;
            left: 140px;
            top: 100px;   
            text-align: center; 
            border-radius: 10px;
        }
        .modal-title{
            text-align: center;
            background-color: rgb(240, 200, 147);
        }
        .form_conrainer{
            width: 400px;
        }
        input{
            margin: 4px;
            width: 80%;
        }
        fieldset{
            margin: 6px;
            border: 2px solid gray;
        }


    .wrapper{
        width: 80%;
    }
    .row{
        display: grid;
        grid-template-columns: 4fr repeat(4, 1fr) 40px 35px;
    }
    .wrapper div{
        border: 1px solid;
        border-collapse: collapse;
    }
    button{
        height: 100%;
    }
