<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Квизы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='quizes.css') }}">
</head>
<body>
    
    <header >Header
        <nav><ul class="main-menu">
            <li><a href="/">Main</a></li>
            <li><a href="/quizes">Quiz</a></li>
            <li><a href="/questions">Questions</a></li>
            <li>menu3</li>
        </ul></nav> 
    </header>         
    
    <main>
        {% if block == content_1 %}
        <section class="info">
            Section
            {% block content_1 %}

            {% endblock %}
        </section>
        {% endif %}
        {% if block == content_2 %}
        <section class="content">   
            Section  
            {% block content %}

            {% endblock %}
        {% endif %}    
        
    </section>
    </main>  
    
    <aside>Aside</aside>   
    
    <footer>Footer</footer> 
    

    
</body>
</html>