
<style>
    .test{
        display: grid;
        width: 80%;
        text-align: center;
    }
    .wrapper{
        width: 80%;
    }
    .row{
        display: grid;
        grid-template-columns: 4fr repeat(4, 1fr) 40px 35px 35px 35px;
    }
    .wrapper div{
        border: 1px solid;
        border-collapse: collapse;
    }
    button{
        height: 100%;
    }
</style>

{% extends "base.html" %}

{% block content %}

<h2>Вопросы</h2>
<div class="test"><a href="#add_question"><button>New</button></a></div>
<div class="wrapper">
    <div class="row hrow">
        <div>Вопроос</div>
        <div>Ответ</div>
        <div>Вариант 1</div>
        <div>Вариант 2</div>
        <div>Вариант 3</div>
    </div>
    {%for q in questions %}
        <div class="row">            
                <div>{{q.question}}</div>
                <div>{{q.answer}}</div>
                <div>{{q.wrong1}}</div>
                <div>{{q.wrong2}}</div>
                <div>{{q.wrong3}}</div>
                <div><button>Ред</button></div>
                <div><button>Уд</button></div>
                <form method="GET" action="/edit_question/">
                    <input type="submit" name="question_id" value={{q.id}} />
                </form>
        </div>
    {% endfor %}

</div>

<!-- Модальное окно-->
<div id="add_question" class="modal" aria-hidden="true">
    <div class="modal-header">
        <p><a href="#close" title="Close" class="close">x</a></p>
    </div>
    <div class="modal-body">    
        question
        <fieldset>
            <legend  align="center">Добавить question</legend>
            <div class="form_conrainer">
                <form action="/add_question/" method="post" enctype="multipart/form-data">
                        <input type="text"  name="question_name">
                        <input type="text"  name="question_answer">
                        <input type="text"  name="question_wrong1">
                        <input type="text"  name="question_wrong2">
                        <input type="text"  name="question_wrong3">
                        <input type="submit" value="Отправить">           
                </form>
            </div>
        </fieldset>
    </div>
</div>

{% endblock %}