
{% extends "base.html" %}

{% block content %}


<h2>Вопросы</h2>
<div class="start_form wrapper">
    <div class="row hrow">
        <div>Quiz ID</div>
        <div>Quiz Name</div>
        <div>User ID</div>
        <div>User name</div>
        <div></div>
        <div></div>        
    </div>
    {%for quiz in quizes %}
        <div class="row">            
                <div>{{quiz.id}}</div>
                <div>{{quiz.name}}</div>
                <div>{{quiz.user_id}}</div>
                {% for user in users%}
                    {% if user.id == quiz.user_id%}    
                    <div> {{ user.name }}</div>
                    {% endif %}
                {% endfor%}
                <div><a href="#edit_quiz"><button>Ред {{quiz.name}}</button></a></div>
                <div><a href="#add_quiz"><button>New</button></a></div>
                <div><button>Уд</button></div>

        </div>
    {% endfor %}
</div>

<a href="#add_quiz">Add quiz</a>
<!-- Модальное окно-->
<div id="add_quiz" class="modal" aria-hidden="true">
    <div class="modal-header">
        <p><a href="#close" title="Close" class="close">x</a></p>
    </div>
    <div class="modal-body">    
        Quiz
        <fieldset>
            <legend  align="center">Добавить КВИЗ</legend>
            <div class="form_conrainer">
                <form action="/add_quiz" method="post" enctype="multipart/form-data">
                        <input type="text"  name="quiz_name">
                        <input type="submit" value="Отправить">           
                </form>
            </div>
        </fieldset>
    </div>
</div>

<a href="#edit_quiz">Edit quiz</a>
<!-- Модальное окно-->
<div id="edit_quiz" class="modal" aria-hidden="true">
    <div class="modal-header">
        <p><a href="#close" title="Close" class="close">x</a></p>
        <div>NAme = {{name}}</div>
    </div>
    <div class="modal-body">    
        Quiz
        <fieldset>
            <legend  align="center">Изменить КВИЗ</legend><p>
            <div class="form_conrainer">
                <form action="/edit_quiz" method="post" enctype="multipart/form-data">
                        <input type="text" name="quiz_name" value="<?=GET['name'];?>" />
                        <input type="submit" value="Отправить">           
                </form>
            </div>
        </fieldset>
    </div>
</div>
{% endblock %}