
{% extends "base.html" %}

{% block content %}


<h2>Вопросы</h2>
<div class="start_form wrapper">
    <div class="row hrow">
        <div>Quiz ID</div>
        <div>Quiz Name</div>
        <div>User ID</div>
        <div>User name</div>
        <div></div>
        <div></div>        
    </div>
    {%for quiz in quizes %}
        <div class="row">            
                <div>{{quiz.id}}</div>
                <div>{{quiz.name}}</div>
                <div>{{quiz.user_id}}</div>
                {% for user in users%}
                    {% if user.id == quiz.user_id%}    
                    <div> {{ user.name }}</div>
                    {% endif %}
                {% endfor%}
                <div><a href="#WindowModal"><button>Ред</button></a></div>
                <div><button>Уд</button></div>

        </div>
    {% endfor %}
</div>

<a href="#WindowModal">Открыть модальное окно</a>

<!-- Модальное окно-->
<div id="WindowModal" class="modal" aria-hidden="true">
    <div class="modal-header">
        <p><a href="" title="Close" class="close">x</a></p>
        <p class="modal-title">Заголовок модального окна</p>
    </div>
    <div class="modal-body">    
        Quiz
        <fieldset>
            <legend  align="center">forma111</legend>
            <div class="form_conrainer">
                <form action="/add_quiz" method="post" enctype="multipart/form-data">
                        <input type="text"  name="Quiz ID" value="1">
                        <input type="text"  name="Quiz name" value="1">
                        <input type="text"  name="text_3" value="1">
                        <input type="text"  name="text_4" value="1">
                        <input type="text"  name="text_5" value="1">  
                        <input type="submit" value="Отправить">           
                </form>
            </div>
        </fieldset>
    </div>
</div>
{% endblock %}