<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/" method="post">
        <h2>Выберите викторину</h2>
        <div>
        <select name="quiz">
            {% for q in quizes%}
               <option value="{{q.id}}"> {{q.name}} </option> 

            {% endfor%}
        </select> 
        <div>
            <input type="submit" value="Начать Quiz">
        </div>
        </div>
    </form>


</body>
</html>